################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HRMSApp/FileContentIndex/1f8881a6-52d2-4c6e-81f9-95bf60d58b6b.vsidx
